<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjeOH_hKN86fNUnaODE9PM1AY5HO9MiN0</string>
	<key>GCM_SENDER_ID</key>
	<string>491534265378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-1befb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-1befb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491534265378:ios:c59ea6b6042532053aae7b</string>
</dict>
</plist>